/* paragraph styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-color: black;
    color:#333;
}
p {
    color: white;
    font-size: 25px;
}

h1{
    color: pink;
    text-align: center;
    font-size: 40px; 

}

li{
    color: pink;
    
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h2{
    color: pink;
    text-align: center;
}
